.goingup0 {
  content: url("../images/thumbnail-GoingUp.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup1 {
  content: url("../images/GoingUp2.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup2 {
  content: url("../images/goingup3.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup3 {
  content: url("../images/goingup4.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup4 {
  content: url("../images/goingup5.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup5 {
  content: url("../images/goingup6.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.goingup6 {
  content: url("../images/goingup7.png");
  width: 100%;
  height: 100%;
  object-fit: contain;
}
