.goingup-thumbnail {
  background: url("../images/thumbnail-GoingUp.png") no-repeat center
    center/cover;
}

.projects-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10%;
}
.image-gallery {
  position: relative;
  margin: 5% 10%;
  .back,
  .next {
    position: absolute;
    cursor: pointer;
    background-color: #00ec21;
    border-radius: 50%;
    padding: 5%;
    width: 30px;
    height: 30px;
    display:flex;
    justify-content: center;
    align-items: center;
    transform: translateY(40%);
  }
  .next {
    right: 0;
    bottom: 0;
  }
  .back {
    left: 0;
    bottom: 0;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  flex-direction: column;
  font-size: 70%;
  width: 90%;
  padding: 2.5%;
  .image {
    margin-top: 10%;
  }
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 2.5rem;
  }
}
.project {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #252525;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .project-title {
    font-size: 0.7rem;
    color: #fff;
    margin-top: 5%;
  }
  .project-container {
    background-color: white;
    width: 10rem;
    height: 5rem;
  }
}
.project-info {
  width: 80%;
  background-color: #4f5454;
  padding: 5% 2.5%;
  border-radius: 5px;
}

.filter-container {
  list-style: "none";
  display: flex;
  .filter {
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #00ec21;
    color: #4f5454;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .middle {
    margin-left: 5px;
    margin-right: 5px;
  }
}

@media (min-width: 570px) {
  .modal {
    flex-direction: row;
    font-size: 80%;
  }
}
