.goingup0 {
  background: url("../images/thumbnail-GoingUp.png") no-repeat center
    center/cover;
  width: 100%;
  height: 100%;
}
.goingup1 {
  background: url("../images/GoingUp2.png") no-repeat center center/cover;
  width: 100%;
  height: 100%;
}
.projects-wrapper {
  width: 100%;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-gap: 10%;
}
.modal-wrapper {
  width: 10rem;
  height: 5rem;
}
.image-gallery {
  display: flex;
  position: relative;
  width: 90%;
  height: 100%;
  margin: 0;
  .back,
  .next {
    position: absolute;
    cursor: pointer;
  }
  .next {
    right: 0;
    top: 50%;
  }
  .back {
    left: 0;
    top: 50%;
  }
}
.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 80vw;
  height: 90vh;
  margin-left: -40vw;
  border-radius: 5px;
  margin-top: -45vh;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
  padding: 2rem;
  .close {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
    font-size: 2.5rem;
  }
}
.modal > * {
  margin: 10% 5%;
}
.project {
  display: flex;
  padding: 0.5rem;
  border-radius: 5px;
  background-color: #252525;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .project-title {
    font-size: 0.7rem;
    color: #fff;
    margin-top: 5%;
  }
  .project-container {
    background-color: white;
    width: 10rem;
    height: 5rem;
  }
}

.filter-container {
  list-style: "none";
  display: flex;
  .filter {
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: #00ec21;
    color: #4f5454;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 70%;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
  .middle {
    margin-left: 5px;
    margin-right: 5px;
  }
}
